/my-mini-compiler/cmake-build-debug/
/build/
/.vscode/
/my-mini-compiler/out/build/x64-Debug
/.vs
.vs/cmpe458-phase1-w25/FileContentIndex/e84f41f7-74c9-402f-8072-6d819e8a8e48.vsidx
my-mini-compiler/out/build/x64-Debug/.cmake/api/v1/reply/index-2025-02-06T20-46-50-0711.json
/my-mini-compiler/out/build
my-mini-compiler/phase1-w25/src/lexer/cmpe458-phase1-w25.code-workspace